<% layout('layout-centered') -%>

<div class="uk-container">
<table class="uk-table uk-table-stripped uk-table-hover uk-table-condensed uk-text-center">
	<caption>Student submissions</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Submission</th>
			<th>On time?</th>
			<th>Responses</th>
			<th>Comments</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Jenee Robe</td>
			<td>Done</td>
			<td>Yes</td>
			<td>4</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Kim Busch</td>
			<td>Pending</td>
			<td>Pending</td>
			<td>0</td>
			<td>0</td>
		</tr>

		<tr>
			<td>Lauran Collom</td>
			<td>Yes</td>
			<td>No</td>
			<td>9</td>
			<td>13</td>

		</tr>
	</tbody>

</table>
</div>