<div class="uk-block uk-block-secondary uk-contrast uk-text-center uk-margin-large-top">
  <div class="uk-text-large"><b>Feedbackr</b></div>
  <br/>

  <div class="uk-text-muted">
    <p>
      CMU Information Systems 67-475 | <a href="https://github.com/dtpowers/Feedbackr" target="_blank"><i class="uk-icon-github"></i> Github Repository</a>
    </p>

    <p>Yousuf Akhlaq // Suvrath Penmetcha // Donovan Powers // Alex Wang</p>
  </div>
</div>
