<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <nav class="uk-navbar uk-contrast">
    <div class="uk-navbar-brand">Feedbackr</div>

    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
      <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li class="uk-parent"><a href="profboard">Professor Dashboard</a></li>
        <li><a href="assignment">Professor Assignment Page</a></li>
        <li><a href="studboard">Student Dashboard</a></li>
        <li><a href="feedback">Feedback Page</a></li>
      </ul>
    </div>
  </nav>
</div>
