<nav class="uk-navbar">
  <div class="uk-container">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li class="uk-parent"><a href="profboard">Professor Dashboard</a></li>
      <li><a href="assignment">Professor Assignment Page</a></li>
      <li><a href="studboard">Student Dashboard</a></li>
      <li><a href="feedback">Feedback Page</a></li>
    </ul>
  </div>
</nav>
