<% layout('layout') -%>

<div class="uk-container">
  <div class="uk-grid">
    <div class="uk-width-1-1">

      <h3>WOW</h3>

      <a href="#my-id" data-uk-modal class="uk-button">...</a>

      <!-- This is the modal -->
      <div id="my-id" class="uk-modal">
        <div class="uk-modal-dialog">
          <a class="uk-modal-close uk-close"></a>
          <a href="#modal2" data-uk-modal class="uk-button">Open next modal!</a>
        </div>
      </div>

      <div id="modal2" class="uk-modal">
        <div class="uk-modal-dialog">
          <a class="uk-modal-close uk-close"></a>
          Modal #2
        </div>
      </div>

      <hr/>


      <a href="#new-assignment-modal" data-uk-modal class="uk-button">...</a>

      <div id="new-assignment-modal" class="uk-modal">
        <div class="uk-modal-dialog">
          <a class="uk-modal-close uk-close"></a>

          <div class="uk-modal-header">
          </div>

          <form class="uk-form uk-form-stacked">

            <fieldset data-uk-margin>
              <legend>Create a new assignment</legend>

              <label class="uk-form-label" for="course-num">Course Number</label>
              <input id="course-num" type="text" placeholder="######">

              <label class="uk-form-label" for="course-name">Course Name</label>
              <input id="course-name" type="text" placeholder="e.g. Innovation in Information Systems">

              <label class="uk-form-label" for="assignment-title">Assignment Title</label>
              <input id="assignment-title" type="text" placeholder="e.g. Prototype Peer Review">

              <label class="uk-form-label" for="assignment-title">Submission Due Date</label>
              <input type="text" data-uk-datepicker="{format:'MM/DD/YYYY'}">
              <input type="text" data-uk-timepicker="{format:'12h'}">

              <label class="uk-form-label" for="assignment-title">Feedback Due Date</label>

              <label class="uk-form-label" for="assignment-title">Required Responses</label>

              <label class="uk-form-label" for="assignment-title">Required Comments</label>

            </fieldset>

          </form>

          <div class="uk-modal-footer uk-text-right">
            <a class="uk-button" href="">Cancel</a>
            <a class="uk-button uk-button-primary" href="">Next</a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
