<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CHANGE TITLE</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/components/datepicker.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/components/autocomplete.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/components/form-file.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/components/placeholder.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>

    <body>

        <% include header %>

        <%- body -%>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/uikit.min.js"></script>

        <script type="text/javascript" src="scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/components/datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/components/timepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/components/autocomplete.min.js"></script>


    </body>

</html>
