<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CHANGE TITLE</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.min.css" />
        <link href="../public/email.js" rel="script">

    </head>

    <body class="uk-height-1-1">

        <%- body -%>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/uikit.min.js"></script>
        <script type="text/javascript" src="scripts.js"></script>
        <script type="text/javascript" src="email.js"></script>
        <script type="text/javascript" src="papaparse.min.js"></script>
    </body>

</html>
