<% layout('layout-centered') -%>

<div class="uk-height-1-1">

  <div class="uk-grid uk-height-1-1 uk-grid-collapse">
    <div class="uk-width-3-5 uk-height-1-1">
      <object data="http://koffeeklub.net/sangerin/FanFiction.pdf" type="application/pdf" width="100%" height="100%">
        <p>Alternative text - include a link <a href="http://www.cameronmoll.com/about/cameronmoll_bio.pdf">to the PDF!</a></p>
      </object>
    </div>

    <div class="uk-width-2-5 uk-height-1-1 uk-overflow-container">
      <div class="uk-container uk-margin-bottom">

        <a class="uk-margin-top uk-margin-bottom uk-display-block"><i class="uk-icon-angle-left"></i> Return to All Assignments</a>

        <div class="uk-accordion" data-uk-accordion="{showfirst: false}">
          <h3 class="uk-accordion-title">
            <i class="uk-icon-caret-right"></i>
            Feedback Criteria
          </h3>
          <div class="uk-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
          </div>
        </div>

        <h2 class="uk-margin-small-top">Submit a Response to this Submission</h2>
        <form>
        <textarea class="uk-width-1-1" rows="8"></textarea>

          <div class="uk-text-right">
            <a class="uk-button uk-button-primary">Add Response</a>
          </div>
        </form>

        <h3>Feedback</h3>
        <ul class="uk-comment-list">
          <li>
            <article class="uk-comment">
              <h4 class="uk-comment-title">Author</h4>
              <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
              <div class="uk-comment-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
              </div>
              <div class="uk-comment-meta">
                <i class="uk-icon-reply"></i>
                Reply
              </div>
            </article>

            <ul>
              <article class="uk-comment">
                <h4 class="uk-comment-title">Author</h4>
                <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
                <div class="uk-comment-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
                </div>
                <div class="uk-comment-meta">
                  <i class="uk-icon-reply"></i>
                  Reply
                </div>
              </article>

              <article class="uk-comment">
                <h4 class="uk-comment-title">Author</h4>
                <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
                <div class="uk-comment-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
                </div>
                <div class="uk-comment-meta">
                  <i class="uk-icon-reply"></i>
                  Reply
                </div>
              </article>
            </ul>
          </li>

          <article class="uk-comment">
            <h4 class="uk-comment-title">Author</h4>
            <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
            <div class="uk-comment-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
            </div>
            <div class="uk-comment-meta">
              <i class="uk-icon-reply"></i>
              Reply
            </div>
          </article>

        </ul>

      </div>
    </div>
  </div>

</div>
