<% layout('layout-centered') -%>

<div class="uk-height-1-1">

  <div class="uk-grid uk-height-1-1 uk-grid-collapse">
    <div class="uk-width-3-5 uk-height-1-1">
      <object data="FanFiction.pdf" type="application/pdf" width="100%" height="100%">
        <p>Alternative text - include a link <a href="FanFiction.pdf">to the PDF!</a></p>
      </object>
    </div>

    <div class="uk-width-2-5 uk-height-1-1 uk-overflow-container">
      <div class="uk-container uk-margin-bottom">

        <a class="uk-margin-top uk-margin-bottom uk-display-block"><i class="uk-icon-angle-left"></i> Return to All Assignments</a>

        <div class="uk-accordion" data-uk-accordion="{showfirst: false}">
          <h3 class="uk-accordion-title">
            <i class="uk-icon-caret-right"></i>
            Feedback Criteria
          </h3>
          <div class="uk-accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu purus lorem. Sed dignissim metus ultrices ipsum porttitor vulputate. Morbi tristique risus ac urna varius, non pretium ipsum placerat. Proin malesuada erat in velit accumsan, vel sagittis purus viverra. Cras auctor erat aliquet tincidunt pulvinar. Nunc sed metus elit. Donec sodales suscipit nibh, in tincidunt urna faucibus vitae. Cras vestibulum fermentum nisi, quis porttitor nisl tempus nec.
          </div>
        </div>

        <h2 class="uk-margin-small-top">Submit a Response to this Submission</h2>
        <form>
        <textarea class="uk-width-1-1" rows="8"></textarea>

          <div class="uk-text-right">
            <a class="uk-button uk-button-primary">Add Response</a>
          </div>
        </form>

        <h3>Feedback</h3>
        <ul class="uk-comment-list">
          <li>
            <article class="uk-comment">
              <h4 class="uk-comment-title">Author</h4>
              <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
              <div class="uk-comment-body">
                Having looked at this paper for a while now I think you could really trim some fat in your second arguement. I feel like you spend a lot of time covering ground that isn't super relevent to the discussion. Fanfiction has a long history but we don't need to know all of it.
              </div>
              <div class="uk-comment-meta">
                <i class="uk-icon-reply"></i>
                Reply
              </div>
            </article>

            <ul>
              <article class="uk-comment">
                <h4 class="uk-comment-title">Author</h4>
                <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
                <div class="uk-comment-body">
                 I agree with what has been said. You spend a lot of time talking about the Sonic VS tails debate and this is supposed to be about the startreck community. Try to refocus this portion of the paper to better suite the arguement you are making and think this could be a great paper. 
                </div>
                <div class="uk-comment-meta">
                  <i class="uk-icon-reply"></i>
                  Reply
                </div>
              </article>

              <article class="uk-comment">
                <h4 class="uk-comment-title">Author</h4>
                <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
                <div class="uk-comment-body">
                 Amazing outro on this paper, it really leaves the reader with something to think about. I wish you had the same voice and passion in early sections that you show here because this is really good stuff.
                </div>
                <div class="uk-comment-meta">
                  <i class="uk-icon-reply"></i>
                  Reply
                </div>
              </article>
            </ul>
          </li>

          <article class="uk-comment">
            <h4 class="uk-comment-title">Author</h4>
            <div class="uk-comment-meta">2 days ago | <i class="uk-icon-flag"></i> Report</div>
            <div class="uk-comment-body">
             Im not sure if I think the ending was really that great. I mea nwe have all heard this arguement before right? Is this really new information in the startreck community?
            </div>
            <div class="uk-comment-meta">
              <i class="uk-icon-reply"></i>
              Reply
            </div>
          </article>

        </ul>

      </div>
    </div>
  </div>

</div>
