<% layout('layout') -%>



<h1>Required Reviews</h1>

	<div class="uk-grid" data-uk-grid-margin>

		<% for(var i = 0; i < 5; i++) { %>
			<div class="uk-width-1-3">
				<div class="uk-panel uk-panel-box">
				<div class="uk-width-1-3">
					<p>1 (DONE)</p>
				</div>
				<div class="uk-width-1-3">
					<p>2 Responses</p>
				</div><div class="uk-width-1-3">
					<p>1 (DONE)</p>
				</div>
				<div class="uk-width-1-3">
					<p>0 Comments</p>
				</div>
				</div>
			</div>
			<% } %>

	</div>
